<section class="mt-16">
  <h1 class="text-2xl font-semibold">Sobre mí</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, quia minima
    vero inventore omnis dolorem ipsam porro excepturi maiores velit laborum ex
    a nobis reprehenderit voluptatum enim aut ratione mollitia?
  </p>
</section>
