<section class="flex flex-col justify-center items-center mt-8 mb-8">
  <h1 class="text-4xl font-semibold">Contacto</h1>
  <div class="flex mt-3">
    <p class="font-semibold">Correo:</p>
    &nbsp;
    <a
      href="mailto:noelb.davalos@gmail.com"
      class="text-blue-800 hover:underline">noelb.davalos@gmail.com</a
    >
  </div>
</section>
