---

---

<div class="grid grid-cols-3  gap-12 mt-32">
    <div class="col-span-2">
        <h1 class="text-5xl">Hola, soy Noel!</h1>
        <p class="text-xl">Estudiante de Ingeniería en Software.</p>
    </div>

    <div class="relative inline-flex items-center justify-center w-28 h-28 overflow-hidden bg-gray-100 rounded-full">
        <span class="font-medium text-gray-600 text-3xl">NB</span>
    </div>
</div>
